# Configuration file

"client specific" {
    B:"[C43AF5127] Console Loading Info"=true
    B:"[C4F590BEA] Custom/Donator Renders"=true
    B:"[D19691264] Disable Alpha Clipping in WorldRenderer"=true
    B:"[DBB68D732] Debug Mode"=false
    B:"[DBC4D3901] Disable Renders For Debug"=false
    B:"[DDCD7505B] Disable Hotbar Swapping"=false
    I:"[DF6231D5A] Debug Overlay Key (LWJGL ID)"=15
    B:"[EB1BAD43C] Enable Vernal Amusement Behavior"=true
    B:"[I3FBCC31F] Increase sound channel count"=true
    B:"[L08890C1E] Log errors to chat"=true
    B:"[LDC9EEA1C] Log Loading Info To Separate File"=false
    I:"[PFFD59A86] Particle Limit (Vanilla = 4000)"=4000
    B:"[SC668A106] Show TileEntity NBT when using Debug Key"=false
    B:"[SF9C3C14A] Sort Creative Tabs Alphabetically"=true
}


"control setup" {
    B:"Admins Bypass Permissions"=true
    B:"Attempt to Repair Environment Sanity"=false
    I:"Automatic Reboot Interval (Seconds)"=-1
    B:"Cache Skins"=true
    B:"Check Environment Sanity"=false
    B:"Compare mod file hashes between client and server"=true
    B:"Direct OpenComputers Support"=true
    B:"Disallow Null-Item ItemStacks to Prevent Crashes"=true
    B:"Extra Block Ticks When Raining"=true
    B:"Force Gregtech Ore Compatibility"=true
    B:"Log Sync Packet CME Avoidance"=true
    B:"Merge XP Orbs Like Items"=true
    I:"Minimum Delay (ms) for 'Can't Keep Up!' Log Warning"=0
    B:"Only show update notice to Ops or SSP"=false
    B:"Only show update notice to pack creator"=false
    B:"Prevent Mobs From Targeting Players Immediately After Logging In"=true
    B:"Restore Obsidian Blast Resistance"=true
    B:"Slow Sync Packets - Only use this as a last resort"=false
    I:"Sync Packet ID"=182
    B:"Use HashMap for Sound Categories - Only use if necessary"=false
}


